<ion-view view-title="Jouney">
  <ion-content>
    <div ng-controller="JourneyCtrl as vm">

      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="origin" type="search" ng-focus="disableTap()" placeholder="Origin" places-auto-complete ng-model="vm.origin"/>
      </label>

      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="destination" type="search" ng-focus="disableTap()" placeholder="Destination" places-auto-complete ng-model="vm.destination"/>
      </label>

      <div class="item item-input" data-ng-repeat="waypoint in waypts">
        <i class="icon ion-search placeholder-icon"></i>
        <input class="waypoint" type="search" ng-model="waypoint.location" ng-focus="disableTap()" placeholder="Waypoint" places-auto-complete />
        <button class="button button-outline icon-right ion-android-remove-circle button-assertive" ng-click="removeWaypoint($index)"></button>
      </div>

      <button class="button button-full button-positive" ng-click="addNewWaypoint()">
        Add Waypoint
      </button>

      <button class="button button-full button-positive" ng-click="calculateJourney()"=>
        Calculate Journey
      </button>

      <ng-map center="[-15.7906607,-47.8884707]"></ng-map>

      <div id="directions-panel"></div>
    </div>
  </ion-content>
</ion-view>
